.point {
  flex-grow: 1;
  margin: 2px;
  flex-basis: 9%;
  display: flex;
  background-color: #FFF1D0;

  .point-hit {
    // TODO: Change to an appropriate color / image.
    background-color: red;
  }

  .point-missed {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    // TODO: Change to an appropriate color / image.
    background-color: orange;
  }
}
